'use strict';

module.exports = {
	'webSocketPort' : 8081,
	'webServerPort' : 80,
	'cacheSize'     : 300,
	'ssl'           : false,
	'sslKey'        : '/path/to/key',
	'sslCert'       : '/path/to/cert'
};
